
.card{

	background:#eceff1 ;
	box-shadow:5px 5px 15px rgba(0,0,0,0.9);
	text-align: center;
	transition: 0.5s ease;
    cursor: pointer;
    margin:30px;


}

.card-body{
	grid-area: text;
	margin:25px;
	}


.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px #3F729B;
  
}
