 
<html>
 <head>   

</head>
<body>

    <div class="card card-cascade wider mt-4 mb-4 rounded" style="height:23rem">
      <div class="card-body mb-4" style="height:17rem" >

        <img src="{{albums.album_logo}}"alt="" class="img-fluid rounded rounded-circle" height="100" width="100">
        
        <h5 class="card-title mt-3">"{{albums.Album_title}}"</h5>
        <h6>{{albums.genre}}</h6>
        <h6>{{albums.release_date}}</h6>
        <div class="containter">
         {% ifequal albums.count_reviews 1 %}
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         {% endifequal %}

         {% ifequal albums.count_reviews 2 %}
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         {% endifequal %}

         {% ifequal albums.count_reviews 3 %}
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         {% endifequal %}

         {% ifequal albums.count_reviews 4 %}
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         {% endifequal %}

         {% ifequal albums.count_reviews 5 %}
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         {% endifequal %}

         {% ifequal albums.count_reviews 6 %}
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         {% endifequal %}
       </div>
       <div>
        <button type="button" class="btn btn-outline-warning  btn-sm" data-container="body"data-toggle="popover" data-placement="bottom" data-content="{{albums.Album_Description}}">MORE...
        </button>
      </div>


  </div>
  <div class="card-footer mb-3"style="height:5rem">
    <div class="row">
       <!--<div class="d-flex flex-row justify-content-center">-->
         <div class="col-4">
           <a href="#">
             <i class="fa fa-facebook"></i>
           </a>
         </div >
         <div class="col-4">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="col-4">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </div>

</div>
      <!--</div>-->
    </div>

</div>
</body>
</html>











