{% extends 'music/base.html' %}
{% load crispy_forms_tags %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body %}


<!DOCTYPE html>
<html>
<head>
  <title>{% block title_block %}Create New Account{% endblock %}</title>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="jquery-3.1.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'>
  <link rel="stylesheet" href="{% static "CSS/loginstyle.css" %}">
  <style>
  .sign_up{
    width:550px;
    border:1px solid #ccc;
    padding:25px;
  }
</style>
</head>
<body>
 

<div class="container"style="padding: 300px;">
  
 <div class="login-box transbox"> 
 
   
<h2>Login:</h2>

<div class="textbox">
<form  method="POST">
  {{form|crispy}}
  {% csrf_token %}

  <button id ="boo" type="submit"class="btn btn-outline-info btn-sm" >Login</button>
</form>
</div>

<div>
  <p style=" text-align: center">Don't have an account? <button class=" btn btn-warning btn-sm"><a href="{% url 'music:register' %}">SignUp</a></button></p>
  <p style="font-size:12px ;text-align: center"><a href="">Forgot Your Password?Get Help</a></p>
</div>


</div>
</div>
</body>
</html>
{% endblock %}
